body{
  background-color:green;
}
a{
  border-style:solid;
  border-size:5px;
  border-width:5px;
}
nav{
  text-align:center;
}
h1{
  color:darkred;
  font-size:35px;
}
h3{
  color:orange;
  font-size:25px;
}
h5{
  color:darkred;
  font-size:15px;
}
img{
  width:250px;
  height:150px;
}
